body{
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}
.conteiner{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.fondo{
  width:100%;
  /*position: absolute;*/
}
.gato{
  position: absolute;
  width: 50%;
  margin-top:20%;
}
@media only screen and (max-width:850px){
  /*body{
    background-color: blue;
  }*/
  .fondo{
    content:url("../img/dawn.png");
  }
  .gato{
    content:url("../img/kitten-medium.png");
  }
}
