body{
  width: 100%;
  max-width: 1200px;
}
.conteiner{

  position: relative;
  display: flex;
  justify-content: center;
}
.fondo{
  width: 100%;
  position: absolute;
}
.gato{
  position: absolute;
  width: 50%;
  margin-top:20%;
}
@media only screen and (max-width: 1200px){
  body{
    background-color: blue;
  }
  .fondo{
    content:url("../img/dawn.png");
  }
  .gato{
    content:url("../img/kitten-medium.png");
  }
}
